body {
    background-color: #ffcced;
    margin: auto;
    margin-top: 30px;
    width: 70vw;
}

h1 {
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    text-shadow: #f66ed4 2px 1px;
}

h2 {
    color: #57066c;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

h3 {
    color: #da2d8c;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-align: center;
    margin: 0px;
}

h4 {
    color: #57066c;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    text-align: center;
    margin: 0px;
}

h5 {
    font-size: 7px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-align: justify;
}

table {
    border: 2px solid #5c0570;
    background-color: #dd94ff;
    margin: 0px;
    width: 95%;
    height: 80%;
    box-shadow: 9px 9px #ff6ecd;
}

table td img {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

tr {
    margin: 0px;
}

td {
    margin: 0px;
    border: 2px dotted #e11e64;
    vertical-align: top;
    padding: 10px;
}

.nombres {
    height: 20px;
}

.fechas {
    height: 15px;
}

.text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
}

li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}